body {
    background-color: black;

}

@font-face {
    font-family: 'Chunky Funks';
    src: url('Chunky Funks.woff') format('woff') ; 
}

div.poster {
    background-color: rgb(250, 146, 81);
    width: 75%;
    overflow: hidden;
}

div.small {
    font-size: 19px;
    text-align: center;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(236, 0, 140);
}

div.text { 
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: rgb(236, 0, 140);
    white-space: nowrap;
    display: flex;
    justify-content: center;
}


/*rule 1 font size*/
div.text.one {
    font-size: 100px;
    line-height: 50px;
}

div.text.two {
    font-size: 160px;
    line-height: 110px;
}

div.text.three {
    font-size: 220px;
    line-height: 170px;

}

/*rule 2 font family*/
div.text.a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.text.b {
    font-family: 'Times New Roman', Times, serif;
}

div.text.c {
    font-family: 'Chunky Funks';
}

/*rule 3 opacity*/
div.text.x { 
    opacity: 0%;
}

div.text.y {
    opacity: 50%;
}

div.text.z {
opacity: 100%; 
}