body {
    font-family: 'lato';
    font-size: 20px;
    background-color:whitesmoke;
}

@font-face {
    font-family: 'dream orphans';
    src: url('dream\ orphans.woff') format('woff');
}

@font-face {
    font-family: "lato";
    src: url('Lato.woff') format('woff');
}

@font-face {
    font-family: 'ivymode';
    src: url('ivymode.woff') format('woff');
}

img {
    width: 100%;
    border-radius: 40px;
}

div.header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: whitesmoke;
}

div.logo {
    font-size: 24px;
    width: 50%;
    padding: 20px;
    font-family: 'dream orphans';
    display: inline;
}

div.nav {
    width: 50%;
    padding: 20px;
    text-transform: lowercase;
    text-align: right;
    font-size: 17px;
    font-family: 'lato';
    display: inline;
}

div.nav a {
    margin-left: 40px;
}

a { 
    color: black;
    text-decoration: none;
}

a:hover {
outline: solid 5px blue;
padding: 10px;
}

div.masthead {
    font-size: 80px;
    text-align: left;
    padding-left: 20px;
    font-family: 'ivymode';
    font-weight: bold;
    margin-top: -50px;
}

div.title {
    font-size: 170px;
    padding-left: 10px;
    letter-spacing: 0.4cm;
    font-weight: bold;
    margin-top: -5px;
}

div.keywords {
    text-align: center;
    font-size: 17px;
    padding-top: 100px;
    background-color: whitesmoke;
}

a.buttonkw { 
    background-color: rgb(229, 226, 226);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 2px;
    border-radius: 220px;
    margin-left: 40px;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 20px;
}

div.box {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 50px;
    overflow: scroll;
}

div.item {
    width: 33.333%;
    padding: 20px;
}

div.pic {
    width: 24%;
    padding: 10px;
    margin-top: 10px;
}

div.pic.first {
    margin-left: 200px;
}
div.about-image {
    width: 30%;
    margin-top: 80px;
    margin-left: 40px;
}

div.about-content {
    width: 60%;
    padding: 20px;
}

a.button {
    background-color: rgb(229, 226, 226);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 2px;
    border-radius: 7px;
}

div.back {
    line-height: 35px;
    margin-left: 50px;
    font-size: 13px;
    margin-bottom: 0px;
}


div.about-text {
    line-height: 35px;
    margin-left: 50px;
    font-size: 18px;
    align-items: flex-end;
}

div.about-title {
    line-height: 50px;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 50px;
}

div.item-text {
    font-size: 15px;
    text-align: left;
    padding: 15px;
    font-weight: bold;
}

div.footer {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid lightgray;
    margin-top: 25vh;
    padding: 20px;
    font-size: 15px;
    line-height: 25px;
}

div.footercol {
    width: 50%;
}
