body {
    background-color: black;

}

div.poster {
    background-color: white;
    width: 75%;
    
  
}

div.container {
   display:flex;
   flex-wrap: wrap;
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 10px;
}

div.header {
    font-size: 19px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif; 
    padding-bottom: 10px;  
    padding-top: 20px;
    padding-left: 5px;
    color: royalblue;
}

/* thirds*/ 
div.w1-3 {
    width: 33.33%;
}

div.w2-3 {
    width: 66.66%;

}

div.w3-3 {
    width: 100%;
}

/* half*/
div.w1-2{
    width: 50%;
}
div.w2-2 {
    width: 100%;
}

/*fourth*/
div.w1-4 {
    width: 25%;
}
div.w2-4 {
    width: 50%;
}
div.w3-4 {
    width: 75%;
}
div.w4-4{
    width: 100%;
}


div.text { 
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: royalblue;
}

/*rule 1 font-size*/ 
div.text.one {
    font-size: 40px;
}

div.text.two {
    font-size: 60px;
}

div.text.three {
    font-size: 100px;
}

/*rule 2 font family*/ 
div.text.a {
    background-color: lemonchiffon;
 
}

div.text.b {
   outline: solid lemonchiffon;
   outline-width: 7px;
}

div.text.c {
    
}

/*rule 3 opacity*/
div.text.x {
 
}

div.text.y {

}

div.text.z {
   
}
