body {
    background-color: black;

}

div.poster {
    background: black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

div.container {
   display:flex;
   flex-wrap: wrap;
   overflow: hidden;
}


/* thirds*/ 
div.w1-3 {
    width: 33.33%;
}

div.w2-3 {
    width: 66.66%;

}

div.w3-3 {
    width: 100%;
}

/* half*/
div.w1-2{
    width: 50%;
}
div.w2-2 {
    width: 100%;
}

/*fourth*/
div.w1-4 {
    width: 25%;
}
div.w2-4 {
    width: 50%;
}
div.w3-4 {
    width: 75%;
}
div.w4-4{
    width: 100%;
}



div.header {
    font-size: 70px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif; 
    padding-bottom: 30px;  
    padding-top: 30px;
    padding-left: 5px;
    color: lavender;
    font-weight: bold;
}

div.text { 
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.5s;
    color: lavender;
    text-transform: lowercase;
}

/*rule 1 font-size*/ 
div.text.one {
    font-size: 35px;
}

div.text.two {
    font-size: 35px;
}

div.text.three {
    font-size: 50px;
}

/*rule 2 color*/ 
div.text.a {
    text-transform: uppercase;    
}

div.text.b {
    
}

div.text.c {
    
}

/*rule 3 text align*/
div.text.x {
 
}

div.text.y {
   
}

div.text.z {
    
}
