body {
    background-color: black;

}

div.poster {
    background-color: black;
    width: 75%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


div.text { 
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: bold;
    color: rgb(255, 94, 174);
    

}

/*rule 1 font size*/
div.text.one {
    font-size: 40px;
}

div.text.two {
    font-size: 60px;
}

div.text.three {
font-size: 100px;

}

/*rule 2 text transformation*/
div.text.a {
    text-transform: uppercase;
}

div.text.b {
    text-transform: lowercase;
}

div.text.c {
text-transform: uppercase;
}

/*rule 3 rotate*/
div.text.x { 
    transform: rotate(90deg);
}

div.text.y {
    
}

